@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}
a:hover {
  cursor: pointer;
}

/* DESIGN SYSTEM*/

/* Typography Figma = https://www.figma.com/file/OnYonn8q4Lasd2Eq1rmflo/FILMEX-DESIGN?node-id=0%3A1*/

:root {
  --primary-color: #343b47;
  --secundary-color: #fcd63b;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 500;
}
h3 {
  font-size: 18px;
  font-weight: 300;
}
p {
  font-size: 12px;
  font-weight: 500;
}
span {
  font-size: 8px;
  font-weight: 300;
  display: block;
}

h1,
h2,
h3,
p,
span {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
  width: 60px;
  padding: 12px;
  text-align: center;
  height: 20px;
}

.button__outline {
  background: rgba(217, 217, 217, 0.1);
  color: #fff;
  transition: 0.7s ease-in-out;
}

.button__outline:hover {
  background: rgba(217, 217, 217, 0.7);
}

.button__filled {
  background: rgba(217, 217, 217, 0.5);
  color: #fff;
  transition: 0.7s ease-in-out;
}

.button__filled:hover {
  background: rgba(217, 217, 217, 0.8);
}

/* ---------------- */

/* MAIN VIDEO PAGE */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main__caller {
  margin-top: 20%;
}

.main__button__container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.responsive__video {
  display: block;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.responsive__video__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 102px 102px rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}

.responsive__container {
  position: relative;
  display: block;
  margin: auto;
}

.image__gradient {
  width: 100%;
  z-index: -1;
  position: relative;
  height: 100vh;
  background: black;
  opacity: 0.2;
}

#main__information {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  margin: 2em 4em 0 4em;
  width: 90%;
}
/* ---------------- */

/* MOVIE TRAILERS SECTION */
.section__container {
  min-height: 30vh;
  background: black;
  color: #fff;
  padding: 4em;
}

#latest__movies__trailers {
  width: 100%;
  display: flex;
}

#latest__movies__trailers iframe {
  width: 854px;
  height: 480px;
}

#latest__movies__list {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow-y: auto;
  height: 480px;
}

.latest__movies__list__item {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 0.25em;
  transition: 0.5s all ease-in-out;
}

.latest__movies__list__item:hover {
  background: rgb(118, 111, 111);
  cursor: pointer;
}

.latest__movies__list__item__selected {
  background: rgb(118, 111, 111);
}

.latest__movies__list__item img {
  width: 150px;
  height: 125px;
}

#latest__movies__trailers {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------------- */

/* POPULAR MOVIES  SECTION */
.grid__three__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.grid__three__items img {
  max-width: 350px;
  height: 500px;
  align-items: center;
}

#popular__movie div {
  background: #343b47;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  max-width: 350px;
}

#popular__movie p {
  padding: 0 1em;
}

.grid__movie__information {
  flex-direction: row !important;
  justify-content: space-around !important;
  max-width: 350px;
  width: 100%;
}

.grid__movie__information h3 {
  max-width: 50%;
}
/* ---------------- */

/* MEDIA QUERY */

@media only screen and (max-width: 815px) {
  header {
    flex-direction: column;
  }
  #main__information {
    margin: 1em;
  }
  #latest__movies__trailers iframe {
    width: 100% !important;
    height: 480px;
  }
  #latest__movies__list {
    width: 100% !important;
    max-height: 240px !important;
  }
  #latest__movies__trailers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid__three__items {
    grid-template-columns: 1fr !important;
  }

  .section__container {
    padding: 1em;
  }
}

@media only screen and (max-width: 1200px) {
  #latest__movies__trailers iframe {
    width: 640px;
    height: 480px;
  }
  #latest__movies__list {
    width: 640px;
    height: 480px;
  }
  #latest__movies__trailers {
    display: flex;
    flex-direction: column !important;
  }

  .grid__three__items {
    grid-template-columns: 1fr 1fr;
  }
}

/* ---------------- */
