body {
  margin: 0;
  padding: 0;
}

/* DESIGN SYSTEM*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Rubik:wght@700&display=swap");

/* Typography Figma = https://www.figma.com/file/OnYonn8q4Lasd2Eq1rmflo/FILMEX-DESIGN?node-id=0%3A1*/

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
span {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}
/* DESIGN SYSTEM*/

.responsive__photo {
  display: block;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.responsive__container {
  position: relative;
  display: block;
  margin: auto;
}

.image__gradient {
  width: 100%;
  z-index: -1;
  position: relative;
  height: 100vh;
  background: black;
  opacity: 0.2;
}

#main__information {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  margin: 2em 0 0 4em;
}
